.aboutMe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutMe h3 {
    font-size: xx-large;
}

.aboutTitle {
    font-size: xx-large;
}

.aboutText {
    width: 40vw;
    font-size:x-large;
}

.contactAbout {
    font-weight: bold;
    font-size: x-large;
}

.skillIcons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    
}

.skill {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    .aboutText {
        width: 90vw;
    }
}