.homepage {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    color: black;
    /* height: 100vw;
    width: 100vw; */
}

.portraitImg {
    margin-top: 20px;
    border-radius: 40px;
    height: 400px;
    width: 400px;
    overflow: hidden;
    border-style: solid;
    border-width: 3px;
    border-color: black;

}

.homeText {
    display: inline-block;
    margin-top: 5vw;
}

@media screen and (max-width: 600px) {
    .portraitImg {
        height: 40vw;
        width: 40vw;
    }

    .homeText {
        margin-top: 10px;
    }
}
